<p id="notice"><%= notice %></p>

<h1>Board Messages</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Board user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_messages.each do |board_message| %>
      <tr>
        <td><%= board_message.content %></td>
        <td><%= board_message.board_user_id %></td>
        <td><%= link_to 'Show', board_message %></td>
        <td><%= link_to 'Edit', edit_board_message_path(board_message) %></td>
        <td><%= link_to 'Destroy', board_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board Message', new_board_message_path %>
