<p id="notice"><%= notice %></p>

<h1>Board Users</h1>

<table>
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Account</th>
      <th>Memo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_users.each do |board_user| %>
      <tr>
        <td><%= board_user.nickname %></td>
        <td><%= board_user.account_id %></td>
        <td><%= board_user.memo %></td>
        <td><%= link_to 'Show', board_user %></td>
        <td><%= link_to 'Edit', edit_board_user_path(board_user) %></td>
        <td><%= link_to 'Destroy', board_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board User', new_board_user_path %>
